$background-color: rgb( 20, 16, 63 );
$text-color: rgb( 255, 100, 255 );

body {
  color: $text-color;
  background: $background-color;
  text-align: center;
  font-family: 'Champagne & Limousines', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  h1 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h2 {
    color: $text-color;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 150px;
  }

  h3 {
    color: $text-color;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
  }

  p {
    color: $text-color;
    padding-right: 30px;
    font-size: 16px;
  }


  ul {
      list-style-type: none;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: $text-color;
    }
  }

  img {
    border-radius: 400px;
  }
}
